doctype html
html(lang="en")
	head
		title= title
		meta(charset='utf-8')
		link(rel="icon" href=`/images/logo.ico` type="image/x-icon")
		meta(name='viewport' content='width=device-width,initial-scale=1,user-scalable=no, shrink-to-fit=no')
		meta(name='apple-mobile-web-app-capable' content='yes')
		meta(name='apple-mobile-web-app-status-bar-style' content='black')
		meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
		link(rel="stylesheet", href=`/css/lib/bootstrap.min.css`)
		link(rel='stylesheet', href=`/css/animate.css`)
		link(rel='stylesheet', href=`/css/style.css`)
		link(rel="stylesheet" href="/js/lib/intl-tel-input-20.0.5/css/intlTelInput.min.css")
	body
		block content
		script(src='/js/lib/code.min.js')
		script(src='/js/lib/sweetalert.all.min.js')
		script(src="/js/lib/socket.io.js")
		script(src="/js/lib/jquery-3.7.1.min.js")
		script(src="/js/lib/bootstrap.min.js")
		script(src="/js/lib/intl-tel-input-20.0.5/js/intlTelInput.js")
		script(src="/js/lib/bowser-2.11.0.min.js")
		block head_scripts
		script(src=`/js/login.js`)
		script(src=`/js/socket.js`)
		block scripts
