extends layout

block content
	.response-block.text-center
		.modal(style="display: block")
			.modal-dialog-error(role='document')
				.modal-content-error
					.modal-body-error
						strong.text-error Error	
						p.description Authentication failed
						span.error