extends layout

block content
	.response-block.text-center
		.modal(style="display: block")
			.modal-dialog-success(role='document')
				.modal-content-success
					.modal-body-success
						strong.text-success Success	
						p.description You've been authenticated
						span.success