extends layout

block content
	.response-block.text-center
		.modal(style="display: block")
			.modal-dialog(role='document')
				.modal-content
					.modal-body
						strong.text-success Login Successful