@import url("https://rsms.me/inter/inter.css");
body * {
  font-family: 'Inter', sans-serif;
}
body {
  margin: 0;
  padding: 0;
}
h2 {
  margin: 0 0 6px 0;
  font-weight: bold;
}
h6 {
  margin: 2px 0 20px 0;
}
hr {
  margin: 14px 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #fff;
}
ul {
  margin: 4px 0 0 0;
}
label,
h6 {
  color: #000;
  font-size: 13px;
  font-weight: normal;
}
.form-login {
  margin-bottom: 0;
}
.form-login .tab-title {
  float: left;
  margin-left: 10px;
}
.form-login .button-top-right {
  float: right;
  margin: 0 10px 20px 0;
}
.navbar-btn {
  min-width: 100px;
  margin-right: 8px;
}
.navbar-btn .btn {
  min-width: 100px;
}
.glyphicon {
  margin-right: 8px;
}
/*
	login window
*/
#login label {
  margin-left: 2px;
}
#login .app-name {
  font-weight: 700;
  margin-bottom: 2px;
}
#login .app-des {
  font-size: 16px;
  line-height: 1;
  margin: 0;
}
#login .form-login {
  padding: 40px 20px 0px 20px;
  margin: auto;
  position: relative;
}
#login .info-icon {
  background-image: url("../images/info.svg");
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  right: 20px;
  top: 50px;
  cursor: pointer;
}
#login .block-button {
  padding: 20px 20px;
  margin-top: 26px;
  border-radius: 8px;
  position: relative;
  height: 132px;
}
#login .block-button button {
  background-color: unset;
  color: #fff;
  border: 0;
  cursor: pointer;
  padding: 0px;
  width: 100%;
  text-align: left;
  font-size: 14px;
  font-weight: 500;
  position: relative;
}
#login .block-button button:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
#login .block-button button .right-icon {
  background-image: url("../images/right.svg");
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  right: 0px;
}
#login .block-button.block-1 {
  background-image: linear-gradient(to right, #275ef5, #8565fc);
  box-shadow: 0px 3px 7px 2px #c7cbee;
  padding: 25px 20px;
}
#login .block-button.block-1 button {
  padding: 18px 0px 0px 0px;
}
#login .block-button.block-1 input {
  background-color: transparent;
  border: none;
  border-radius: unset;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: #fff;
  border-bottom: 1px solid #fff;
  padding: 10px 0px;
  font-size: 14px;
}
#login .block-button.block-1 input:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
#login .block-button.block-1 ::placeholder {
  color: #a0abfb;
}
#login .block-button.block-2 {
  background-image: linear-gradient(to right, #26c0bd, #00e0b5);
  box-shadow: 0px 3px 7px 2px #b6f4df;
}
#login .block-button.block-2 button {
  padding: 25px 0 25px 48px;
  height: 92px;
}
#login .block-button.block-2 .left-icon {
  background-image: url("../images/phone.svg");
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  left: -5px;
  top: 27px;
}
#login .block-button.block-2 .right-icon {
  top: 40%;
}
#login .block-button.block-3 {
  background-image: linear-gradient(to right, #ff6380, #f33063);
  box-shadow: 0px 3px 7px 2px #fbc1d7;
}
#login .block-button.block-3 button {
  padding: 25px 0 25px 48px;
  height: 92px;
}
#login .block-button.block-3 .left-icon {
  background-image: url("../images/anon.svg");
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  left: -5px;
  top: 27px;
}
#login .block-button.block-3 .right-icon {
  top: 40%;
}
#login .block-button.block-4 {
  background-color: #fff;
  box-shadow: 0px 3px 7px 2px #dadada;
  padding: 0;
  padding-left: 20px;
}
#login .block-button.block-4 button {
  height: 132px;
  color: #5f5f5f;
  width: auto;
}
#login .block-button.block-4 .qrcode {
  height: 132px;
  float: right;
  border-radius: 8px;
  padding: 8px 8px 8px 0px;
}
@media (max-width: 768px) {
  #login .form-login {
    width: 95%;
  }
}
@media (min-width: 768px) {
  #login .form-login {
    max-width: 600px;
  }
  body {
    background: linear-gradient(to bottom right, #f9f9f9, #d5d5d5);
    height: 100vh;
  }
}
.response-block .modal-content {
  background-color: #f2f2f2;
  border: 0;
  border-radius: 8px;
}
#account-form-container .form-login {
  width: 90%;
  top: 30%;
}
/*
	modal windows
*/
.modal_info .modal-dialog {
  bottom: 0px;
  position: absolute;
  width: 100%;
  max-width: 100%;
  margin: 0px auto;
}
.modal_info .modal-dialog .modal-content {
  max-width: 400px;
  margin: 0px auto;
}
@media (max-width: 768px) {
  .modal_info .modal-dialog .modal-content {
    max-width: 100%;
    margin: 0px auto;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }
}
@media (max-width: 768px) {
  .block-qr-code {
    display: none;
  }
}
@media (min-width: 768px) {
  #qrCode_info .modal-dialog {
    bottom: 200px;
  }
  #qrCode_info .modal-dialog img {
    width: 300px;
  }
}
.center-vertical {
  position: relative;
}
.center-vertical form {
  top: 40%;
  margin: auto;
  position: relative;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.json-pretty {
  padding-left: 0px;
  padding-right: 30px;
}
.json-selected {
  background-color: rgba(139,191,228,0.2);
}
.json-string {
  color: #6caedd;
}
.json-key {
  color: #ec5f67;
}
.json-boolean {
  color: #99c794;
}
.json-number {
  color: #99c794;
}
