@import url('https://rsms.me/inter/inter.css');
body * { font-family: 'Inter', sans-serif; }

raiseText()
	color grey
	text-shadow  -1px 1px 0 white
	-moz-text-shadow  -1px 1px 0 white
	-webkit-text-shadow  -1px 1px 0 white

body 
	margin  0
	padding  0
	height  100vh
	background-image: linear-gradient(to bottom right, #ccc , #fff);

h2{
	margin: 0 0 6px 0;
	font-weight: bold; 
}


h6{
	margin: 2px 0 20px 0;
}

hr{
	margin 14px 0
	border-top: 1px solid rgb(238, 238, 238);
	border-bottom: 1px solid rgb(255, 255, 255);
}

ul{
	margin: 4px 0 0 0;
}

label, h6 {
	color: #808080;
	font-size: 13px;
	font-weight: normal;
	text-shadow: -1px 1px 0 #fff;
}

.form-login{

	.tab-title{
		float:left;
		margin-left: 10px;
	}
	.button-top-right{
		float:right;
		margin: 0 10px 20px 0;
	}
	margin-bottom 0;
}

.navbar-btn{
	min-width: 100px
	margin-right: 8px;
	.btn{
		min-width: 100px
	}
}

.glyphicon{
	margin-right: 8px;
}

/*
	login window
*/

#login{
	label{
		margin-left: 2px;
	}
	.app-name{
		font-weight: 700;
		margin-bottom: 2px;
	}

	.app-des{
		font-size: 16px;
		line-height: 1;
		margin: 0;
	}

	.form-login{
		padding: 40px 20px 0px 20px;
		margin: auto;
		position: relative;
	}
	

	.info-icon{
		background-image: url(../images/info.svg);
		width: 20px;
		height: 20px;
		background-repeat: no-repeat;
		background-position: center;
		position: absolute;
		right: 20px;
		top: 50px;
		cursor: pointer;
	}

	.block-button{
		
		padding: 20px 20px;
		margin: 26px 0px;
		border-radius: 8px;
		position: relative;
		height: 132px;

		button {
				background-color: unset;
				color: white;
				border: 0;
				cursor: pointer;
				padding: 0px;
				width: 100%;
    		text-align: left;
				font-size: 14px;
				font-weight: 500;
				position: relative;

				&:focus{
					outline: none;
					-webkit-box-shadow: none;
  				box-shadow: none;
				}

				.right-icon{
					background-image: url(../images/right.svg);
					width: 20px;
					height: 20px;
					background-repeat: no-repeat;
					background-position: center;
					position: absolute;
					right: 0px;
				}
			}
		

		&.block-1{
			background-image: linear-gradient(to right, #275EF5 , #8565FC);
			box-shadow: 0px 3px 7px 2px #C7CBEE;
			padding: 25px 20px;

			button{
				padding: 18px 0px 0px 0px;

			}

			input {
				background-color: transparent;
				border: none;
				border-radius: unset;
				color: white;
    		border-bottom: 1px solid white;
				padding: 10px 0px;
				font-size: 14px;

				&:focus{
					outline: none;
					-webkit-box-shadow: none;
  				box-shadow: none;
				}
			}
			::placeholder{
					color: #A0ABFB;
			}
		}

		&.block-2{
			background-image: linear-gradient(to right, #26C0BD , #00E0B5);
			box-shadow: 0px 3px 7px 2px #b6f4df;

			button {
				padding: 25px 0 25px 48px;
				height: 92px;
			}

			.left-icon{
				background-image: url(../images/phone.svg);
				width: 40px;
				height: 40px;
				background-repeat: no-repeat;
				background-position: center;
				position: absolute;
				left: -5px;
				top: 27px;
			}

			.right-icon{
				top: 40%;
			}
		}
		&.block-3{
			background-image: linear-gradient(to right, #FF6380 , #F33063);
			box-shadow: 0px 3px 7px 2px #FBC1D7;

			button {
				padding: 25px 0 25px 48px;
				height: 92px;
			}

			.left-icon{
				background-image: url(../images/anon.svg);
				width: 40px;
				height: 40px;
				background-repeat: no-repeat;
				background-position: center;
				position: absolute;
				left: -5px;
				top: 27px;
			}

			.right-icon{
				top: 40%;
			}
		}

		&.block-4{
			background-color: white;
			box-shadow: 0px 3px 7px 2px #DADADA;
			padding: 0;
			padding-left: 20px;

			button {
				height: 132px;
				color: #5F5F5F;
				width: auto;
			}

			.qrcode{
				height: 132px;
				float: right;
				border-radius: 8px;
				padding: 8px 8px 8px 0px;
			}
		}

	}
}

@media (max-width: 768px) {
	#login {
		.form-login{
			width:95%;
		}
	}
}
@media (min-width: 768px) {
	#login {
		.form-login{
			max-width: 600px;
		}
	}
}

.response-block{
	
	.modal-content{
		background-color: #F2F2F2;
		border: 0;
		border-radius: 8px;
	}
}

#account-form-container{
	.form-login{
		width:90%;
		top: 30%;
	}
}

/*
	modal windows
*/


.modal_info{
	.modal-dialog{
		bottom: 0px;
		position: absolute;
		width: 100%;
		max-width: 100%;
		margin: 0px auto;

		.modal-content{
			max-width: 400px;
			margin: 0px auto;
		}

		@media (max-width: 768px) {
			.modal-content{
				max-width: 100%;
				margin: 0px auto;
				border-top-left-radius: 30px;
    		border-top-right-radius: 30px;
			}
		}
	}
}

@media (max-width: 768px) {
	.block-qr-code{
		display: none
	}
}

@media (min-width: 768px) {
	#qrCode_info{
		.modal-dialog{
			bottom: 200px;

			img{
				width: 300px
			}
		}
	}
}
	


.center-vertical{
	position: relative;

	form{
		top: 40%;
		margin:auto;
		position: relative;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
	}
}

.json-pretty {
    padding-left: 00px;
    padding-right: 30px;
}
.json-selected {
    background-color: rgba(139, 191, 228, 0.19999999999999996);
}

.json-string {
    color: #6caedd;
}

.json-key {
    color: #ec5f67;
}

.json-boolean {
    color: #99c794;
}

.json-number {
    color: #99c794;
}
