{
  "realm": "ipification",
  "title": "IPification Showcase",
  "auth_servers": [
    {
      "id": "stage",
      "url": "https://api.stage.ipification.com/auth"
    }
  ],
  "client_id": "",
  "client_secret": "",
  "clients": [
    {
      "user_flow": "pvn_ip",
      "title": "IP Phone Number Verification",
      "scope": "openid ip:phone_verify",
      "client_id": "webclient3"
    },
    {
      "user_flow": "pvn_ip_plus",
      "title": "IP+ Phone Number Verification",
      "scope": "openid ip:phone_verify ip:mobile_id",
      "client_id": "webclient3"
    },
    {
      "user_flow": "pvn_im",
      "title": "IM Phone Number Verification",
      "scope": "openid ip:phone_verify",
      "channel": "wa viber telegram",
      "client_id": "webclient3"
    },
    {
      "user_flow": "pvn_ipificator",
      "auth_server_url": "https://ipificator.ipification.com/api/auth",
      "title": "IP via App",
      "scope": "openid ip:phone_verify",
      "client_id": "webclient3"
    },
    {
      "user_flow": "pvn_sms",
      "title": "SMS Phone Number Verification",
      "scope": "openid ip:phone_verify"
    },
    {
      "user_flow": "login_ip",
      "title": "IP Login",
      "scope": "openid ip:phone",
      "client_id": "webclient3"
    },
    {
      "user_flow": "login_ip_plus",
      "title": "IP+ Login",
      "scope": "openid ip:mobile_id ip:phone",
      "client_id": "webclient3"
    },
    {
      "user_flow": "login_im",
      "title": "IM Login",
      "scope": "openid ip:phone",
      "channel": "wa viber telegram",
      "client_id": "webclient3"
    },
    {
      "user_flow": "anonymous",
      "title": "Anonymous Identity",
      "scope": "openid ip:mobile_id",
      "client_id": "webclient3"
    },
    {
      "user_flow": "kyc_phone",
      "title": "KYC Data",
      "scope": "openid ip:profile",
      "client_id": "webclient3"
    },
    {
      "user_flow": "sample_app_im_backchannel",
      "title": "IP merchant sample app",
      "scope": "openid",
      "client_id": "webclient3"
    },
    {
      "user_flow": "pvn_sim",
      "title": "SIM",
      "scope": "openid ip:phone_verify",
      "client_id": "webclient3"
    },
    {
      "user_flow": "login_sim",
      "title": "SIM",
      "scope": "openid ip:phone",
      "client_id": "webclient3"
    }
  ]
}
