{
  "realm": "ipification",
  "title": "IPification Showcase",
  "auth_servers": [
    {
      "id": "stage",
      "url": "https://api.stage.ipification.com/auth"
    }
  ],
  "client_id": "",
  "client_secret": "",
  "clients": [
    {
      "user_flow": "pvn_ip",
      "title": "IP Phone Number Verification",
      "scope": "openid ip:phone_verify"
    },
      {
      "user_flow": "pvn_ip_plus",
      "title": "IP+ Phone Number Verification",
      "scope": "openid ip:phone_verify ip:mobile_id"
    },
    {
      "user_flow": "pvn_im",
      "title": "IM Phone Number Verification",
      "scope": "openid ip:phone_verify",
      "channel": "wa viber telegram"
    },
    {
      "user_flow": "pvn_ipificator",
      "title": "IP via App",
      "scope": "openid ip:phone_verify"
    },
    {
      "user_flow": "pvn_sim",
      "title": "SIM Verification",
      "scope": "openid ip:phone_verify"
    },
    {
      "user_flow": "login_ip",
      "title": "IP Login",
      "scope": "openid ip:phone"
    },
    {
      "user_flow": "login_ip_plus",
      "title": "IP+ Login",
      "scope": "openid ip:mobile_id ip:phone"
    },
    {
      "user_flow": "login_im",
      "title": "IM Login",
      "scope": "openid ip:phone",
      "channel": "wa viber telegram"
    },
    {
      "user_flow": "login_sim",
      "title": "SIM Login",
      "scope": "openid ip:phone"
    },
    {
      "user_flow": "anonymous",
      "title": "Anonymous Identity",
      "scope": "openid ip:mobile_id"
    },
    {
      "user_flow": "kyc_phone",
      "title": "KYC Data",
      "scope": "openid ip:profile"
    }
  ]
}
